.root {
  border-radius: 1.5rem;
  padding: 0.75rem;
  background: var(--surface-color);
  box-shadow: var(--elevated-shadow);
}

.toolbar {
  display: flex;
  gap: 0.5rem;
}

.toolbar_vertical {
  flex-direction: column;
}

.reactions {
  display: flex;
}
