*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: default;
}

:root {
  --focus-ring-color: oklch(0.6 0.16 250);
  --text-color: oklch(0 0 0);
  --surface-color: oklch(100 0 0);
  --tint-color: oklch(0 0 0);
  --semantic-positive-color: oklch(0.7 0.2 150);
  --semantic-danger-color: oklch(0.5 0.2 20);
  --semantic-negative-color: oklch(0.7 0.2 20);
}

:focus {
  outline: 0;
}

:focus-visible {
  outline: 2px solid var(--focus-ring-color);
}

html {
  font-size: 8px;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 2rem;
  line-height: 3rem;
  background: oklch(from var(--tint-color) l c h / 10%);
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  height: 100dvh;
}
